@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(248,249,250);
}
.slide-in-left-enter {
  transform: translateX(100%);
}

.slide-in-left-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 200ms;
}
main{
  margin-top: 4rem;
}